<!DOCTYPE = html>
<html>
    <head>
          <meta charset="UTF-16">
        <link rel='icon' href="/web-server/public/img/weather.png" type="image/png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>404}}
            <p>Hi, I’m Christopher — a driven and versatile individual currently pursuing a dual-degree in Management Information Technology at Mapúa University. I’m passionate about software development, with a focus on full-stack web and mobile apps, while also diving into machine learning and business strategy. </p>
            <p> Outside tech, I have a growing interest in fitness, cars, and entrepreneurship, always exploring ways to turn what I learn into real-world value. Whether it's launching side hustles or building solid portfolio projects, I enjoy balancing discipline with creativity. I'm all about growth, meaningful work, and creating solutions that actually make an impact. </p>
         </div>        
            {{>footer}}
    </body>
</html>