<!DOCTYPE = html>
<html>
    <head>
          <meta charset="UTF-16">
        <link rel='icon' href="/web-server/public/img/weather.png" type="image/png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>404}}
         </div>        
            {{>footer}}
    </body>
</html>