<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8 ">
        <link rel='icon' href="/web-server/public/img/weather.png" type="image/png">
        <link rel="stylesheet" href="/css/styles.css">
        
      
        <title>Weather App</title>
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
             <form>
                <input type ="text" placeholder="Location..">
                <button>Search</button>
                <p>Use this app to find your location's weather!</p>
            </form>
            {{>404}}
            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </div>
             {{>footer}}
    </body>
    <script src="/js/app.js"></script>
</html>